header {
  background-color: #b4263d;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  font-size: xx-large;
}
.hidden {
  display: none;
}

.display_inline {
  display: inline;
}

.player_row{
  margin: 5px;
}

.player_button_show{
  display: inline;
  margin-left: 15px;
}

.player_button_hide{
  display: none;
}

.menu_panel {  
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}
.block {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
    /* background-color: #b4263d; */
}

.elipsoid {  
  position:absolute;
  /* background:url('http://placehold.it/100/00f/fff/&text=>°))><'); */
  /* background-color: ; */
  /* top: 367px;
  left: 534px; */
  width: 30px;
  height: 30px;
  border-radius:50%;
}

.viewport {
  position:relative;
  width:640px;
  height:480px;
  border:1px dashed #000;
}
