header {
  background-color: #b4263d;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  font-size: xx-large;
}
.hidden {
  display: none;
}

.display {
  display: inline;
}

.menu_panel {  
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}
.block {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
    /* background-color: #b4263d; */
}

.square {
  height: 150px;
  width: 150px;
  display: inline-block;
  background-color: #555;
  text-align: center;
}

.square1{
  height: 100%;
  width: 100%;
  display: inline-block;
  background-color: #555;
}
