header {
  background-color: #b4263d;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  font-size: xx-large;
}
.hidden {
  display: none;
}

.display_inline {
  display: inline;
}

.player_row{
  margin: 5px;
}

.player_button_show{
  display: inline;
  margin-left: 15px;
}

.player_button_hide{
  display: none;
}

.menu_panel {  
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}
.block {
  width: 100px;
  /*float: left;*/
    display: inline-block;
    zoom: 1;
    /* background-color: #b4263d; */
}

.elipsoid {  
  position:absolute;
  /* background:url('http://placehold.it/100/00f/fff/&text=>°))><'); */
  /* background-color: ; */
  /* top: 367px;
  left: 534px; */
  width: 30px;
  height: 30px;
  border-radius:50%;
}

.start_layer {
  position:relative;
  border:1px dashed rgb(145, 19, 19);
}
.board_layer {
  position: absolute;
  border:1px dashed rgb(67, 22, 190);
}
.home_layer {
  position: relative;
  border:1px dashed rgb(10, 133, 47);
}
.popper_layer {
  position: relative;
  width: 200px;
  height: 200px;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 60px;
  border:1px dashed rgb(10, 133, 47);
}
